NEXT_PUBLIC_SUPABASE_URL=https://lwaspjyipdghtabdacii.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx3YXNwanlpcGRnaHRhYmRhY2lpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDMxNjgzNTgsImV4cCI6MjA1ODc0NDM1OH0.-EtN-XlPcE_mPJxm5tvH9FmKbSJCyQSRZ2R7g76UeAQ
NEXT_PUBLIC_API_URL=http://localhost:3001